@media screen and (max-width:700px) {
  .container{width: 100%;}
  .main_inner{width: 100%;}
  .sidebar{display: none;}

  
  .content{width: 100%;}
  .content > h2{ font-size: 32px;margin-bottom: 20px;}
  .content > p{margin-bottom: 10px;}
  .content_text ul{
  position: static;
  margin-bottom: 10px;
  }

  img.intro_img{width: 100%;};

  .table-container{width: 100%;}
  .table_wrap{width: 100%;}
  table{width: 100%;};
}
    
    /* 중간 크기 화면 (태블릿) */
    @media (max-width: 1024px) {
      
    }
    
    /* 큰 화면 (데스크탑) */
    @media (min-width: 1025px) {
 
    }
    
  
  