@media screen and (max-width:700px) {
  .container{width: 100%;}
  .main_inner{width: 100%;}
  .sidebar{display: none;}
  .notice-section{
      margin-top: 10px;
  
  }
  
  .content{width: 100%;}
  .content > h2{ font-size: 32px;margin-bottom: 20px;}
  .content > p{margin-bottom: 10px;}
  .content_text ul{
  position: static;
  margin-bottom: 10px;
  }
  .search-bar{
  justify-content: center;
  float: none;
  margin: auto;
  scale: 0.9;
  }
  

  #my-table{
  margin-top: 20px;
  width: 100%;}

  tr{width: 100%;}
  
  .hit{display: none;}
    /* Pagination */
    .pagination {
      display: flex;
      gap: 5px;
      justify-content: center;
      padding: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    
    .pagination button {
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #f0f0f0;
      cursor: pointer;
    }
    
    .pagination i {
      font-size: 1.3rem;
      cursor: pointer;
    }
    
    #numbers {
      padding: 0;
      margin: 0 2rem;
      list-style-type: none;
      display: flex;
      color: black;
    }
    
    #numbers li a {
      padding: 5px 9px;
      margin: 0 5px;
      border: 1px solid #D9D9D9;
      border-radius: 10px;
    }
    
    #numbers li a.active {
      background: var(--btnshadow);
      color: white;
    }
    
    /* 반응형 스타일 - 작은 화면 (모바일) */
    @media (max-width: 768px) {
      button.search {
        padding: 8px 16px;

      }
    
      table, th, td {
        
        padding: 8px;

      }
    
      .pagination {
    display: flex; 
    margin: auto;
     justify-content: center;
     align-items: center;
      }
    
      #numbers {
        flex-direction: column;
        margin: 0;
      }
    
      #numbers li a {
        padding: 10px;
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
    
    /* 중간 크기 화면 (태블릿) */
    @media (max-width: 1024px) {
      button.search {
        padding: 9px 18px;
        font-size: 16px;
      }
    
      table, th, td {
        font-size: 14px;
        padding: 9px;
      }
    
      .pagination {
        gap: 8px;
      }
    
      #numbers {
        flex-direction: row;
        flex-wrap: wrap;
      }
    
      #numbers li a {
        padding: 8px 12px;
        font-size: 14px;
        margin: 5px;
      }
    }
    
    /* 큰 화면 (데스크탑) */
    @media (min-width: 1025px) {
      button.search {
        padding: 10px 20px;
        font-size: 18px;
      }
    
      table, th, td {
        font-size: 16px;
        padding: 10px;
      }
    
      .pagination {
        gap: 5px;
      }
    
      #numbers {
        flex-direction: row;
      }
    
      #numbers li a {
        padding: 5px 9px;
        font-size: 16px;
        margin: 0 5px;
      }
    }
    
  }
  